\ProvidesFile{aultrdesignprofile.cfg}[2009/03/18 by daleif]

% profile definitions personally for lars Madsen

\DefineProfile{daleif}{%
  \directphone{89423170}                
  \privatephone{12345678}
  \mobilephone{12345678}                
  \directfax{21345678}
%  \pager{87654321}
  \homepage{home.imf.au.dk/daleif/}     
  \email{daleif@imf.au.dk}
  \journal{12345678}                    
  \receivercvr{12345678}
  \studentid{19960000}                  
  \firstname{Lars}
  \lastname{Madsen}                     
  \usertitle{Programmer}
  \userbranch{IT Staff}
  \casenumber{1234}                     
  \reference{lm}
  \receivercvr{123456}                  
  \cprno{1234567890}
  \casenumber{1234}
%  \UseUnit{imfau}
%  \signature{Lars Madsen}
%  \graphicalsignature{\includegraphics{mysig}}
}